#main{
    position: relative;
    top: 3700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* body, html, #root {
    height: 100%;
    display: flex;
    flex-direction: column;
} */
.topfooter{
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 224, 224);
}
.topfooter .gpay{
    width: 200px;
    height: 65px;
    border: 1px solid black;
    color: white;
    display: flex;
    margin-right: 20px;
    margin-left: 100px;
    background-color: black;
    position: relative;
    border-radius: 15px;
}
.apple{
    width: 200px;
    height: 65px;
    color: white;
    display: flex;
    border-radius: 15px;
    object-fit: contain;
}
.text{
    width: 400px;
    height: 65px;
   display: flex;
   justify-content: center;
}
.text h1{
    font-size: 23px;
    text-wrap: wrap;
    line-height: 26px;
}
.apple img{
    width: 200px;
    height: 65px;
    border-radius: 15px;
}
.gpay img{
    width: 200px;
    height: 65px;
    border-radius: 15px;
}
.footer{
    width: 1550px;
    height: 500px;
    /* border:1px solid red; */
    position: absolute;
    top: 100px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    column-gap: 100px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 30px;
   
}
.swiggy p{
    width: 200px;
}
.company p{
    font-size: 18px;
}
.company ol li{
    list-style-type: none;
    color: rgb(146, 143, 143);
    margin-bottom: 9px;
    cursor: pointer;
}
.contact p{
    font-size: 18px;
}
.contact ol li{
    list-style-type: none;
    color: rgb(146, 143, 143);
    margin-bottom: 4px;
    cursor: pointer;
}
.deliver p{
    font-size: 18px;
}
.deliver ol li{
    list-style-type: none;
    color: rgb(146, 143, 143);
    margin-bottom: 6px;
    cursor:pointer;
}
.swiggy h1{
    font-size: 23px;
}
